html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

main {
  flex-grow: 1;
}

main > * {
  height: 100%;
  background-color: rgba(78,93,108,0.5);
}

.l-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
